<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - My Blog</title>
		<link rel="stylesheet" href="{{ CSS }}bootstrap.min.css">    
	{% endblock %}
</head>
<body>
	{% block body %}
	    
	{% endblock %}
</body>
	{% block script %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script src="{{ JS }}bootstrap.min.js"></script>
	{% endblock %}
</html>